/* ----- Hero section ----- */
#hero-1 {
  width: 100%;
  height: 70vh;
  padding-top: 110px;
  position: relative;
}

#hero-1 .bigS{
  width: 120vh;
  height: 60vh;
  margin: 0 30%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#hero-1 .square span {
  margin: auto;
} 

#hero-1 .square{
  width: 40vh;
  height: 20vh;
  display: flex;
}

#hero-1 .square:nth-of-type(1) {
  background-color: #182fad;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#hero-1 .square:nth-of-type(2) {
  background-color: #182fad;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

#hero-1 .square:nth-of-type(3) {
  background-color: #182fad;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  place-self: center;
}

/* ------ section contentDA ------ */
#contentDA .square{
  width: 60vh;
  height: 10vh;
  display: flex;
  background-color: aquamarine;
  margin: 0 20px;
}

#contentDA .content-compo{
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

/* #content .colump-1 {
  margin: auto;
} */

#contentDA .colump-1 .cardd .icon{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: aqua;
  margin: 10px 40%;
}

#contentDA .colump-1 .cardd  .icon img{
  width: 40px;
  object-fit: cover;
  object-position: 50% 50%;
  margin: 15% 15%;
}

/* #contentDA .colump-1 .cardd .card-head img{
  background-color: #3c4eb3;
  width: 10vh;
  height: 10vh;
  margin:  5px auto;
  justify-content: center;
  border-radius: 100%;
  
} */

/* 
#contentDA .colump-1 .cardd .card-head .icon{
  width: 60px;
  height: 60px;
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  text-decoration: none;
} */

#contentDA .colump-1 .cardd .card-title {
  margin-top: 5px;
  text-align: center;
}

#contentDA .colump-1 .cardd .card-content {
  text-align: center;
  margin: 0 10px;
}
